.find-trip {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.find-image{
    padding-top: 60px;
    background: url("../../images/search-page.jpg") no-repeat center;
    height: 100%;
    color: white;
    text-align: center;
}

.btn-find {
    background-color: #db5a00;
    color: white;
    width: 200px;
    height: 45px;
    border: 1px solid rgba(248, 249, 248, 0.55);
}

.btn-find:hover {
    background-color: #d03b00;
}

.btn-find:focus {
    outline: none;
}

input {
    width:300px;
    color:#fff;
    display:inline-block;
    border: 1px solid rgba(248, 249, 248, 0.55);
    padding:15px 20px;
    border-radius:25px;
    background:transparent;
    margin-right: 30px;
}
