a {
    color: white;
}

footer {
    text-align: center;
    height: 30px;
    background-color: #222020;
    margin-bottom: -30px;
    color: white;
    width: 100%;
    float: right;
}

@media (max-width: 768px) {
    footer {
        font-size: 14px;
    }
}