.main-row {
    padding: 5px;
    margin: -50px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    color: white;
}

.containerLogin {
    max-width: 500px;
    height: 100%;
    margin-top: 200px;
    text-align: center;
}

.text-color{
    color: white !important;
}

.text-color:hover{
    color: aqua;
    background-color: transparent;
}

.start-text{
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 70px;
    text-align: center;
}

.why-us {
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.img-circle {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.start-button{
    background-color: transparent;
    color: white; font-size: 25px;
    border: 1px solid white;
}

.featurette-image{
    width: 100%;
    height: 40%;
}

.start-image{
    background: url("../../../images/start/start-page.jpg") no-repeat center;
    width: 100%;
    min-height: 100%;
    color: white;
    /*margin-bottom: 40px;*/
    margin-top: -20px;
    text-align: center;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.login-col-md {
    float: right;
}

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 70px;
    }

    .a{
        color: white;
    }
}
.step-text {
    font-size: 30px;
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .col-md-4-mobile {
        display: none;
    }

    .login-col-md {
        float: none;
    }

    .main-row {
        margin: 0;
    }

    .containerLogin {
        padding-top: 50px;
        margin-top: 0;
    }
}

.heading-color {
    color: #fb005b;
    text-align: center;
}
