#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

@media (max-width: 450px) {
    #form {
        position: relative;
        width: 300px;
    }

    input {
        width: 300px !important;
    }
    textarea {
        width: 300px !important;
    }
    #submit {
        width: 300px !important;
    }
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0 15px 0 15px;

    background: transparent;
    outline: none;
    color: #726659;

    border: solid 1px #b3aca7;
    border-bottom: none;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#submit {
    width: 470px;

    padding: 0;
    margin: -5px 0 0 0;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: black;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
    border-top: none;
}

#submit:hover {
    color: white;
    background-color: darkorange;
}