<nav class="navbar navbar-dark bg-inverse" style="cursor: pointer">
    <div class="container">
        <a class="navbar-brand text-color">Who with me?</a>
        <a class="navbar-brand text-color" style="float: right">En | Ru</a>
    </div>
</nav>

<div class="start-image">
    <div class="container">
        <div class="col-md-4">
            <p class="start-text">Let's travel together!</p>
            <p class="lead" style="font-size: 30px;"> Join the future</p>
        </div>
        <div class="col-md-6">
            <app-login></app-login>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="text-align: center">
        <p class="why-us">Why us?</p>
        <div class="col-lg-4">
            <img class="img-circle " src="../../images/driver.png" alt="Generic placeholder image">
            <h2>Drivers</h2>
            <p>Reduce travel costs</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="../../images/mail.png" alt="Generic placeholder image">
            <h2>Communication</h2>
            <p>Find new people</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="../../images/wallet.png" alt="Generic placeholder image">
            <h2>Travel cheaper</h2>
            <p>Reliability and trust</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <p class="why-us">How to start?</p>
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color: #fb005b; text-align: center">First step </h2>
            <p class="lead step-text">Just specify the cities of departure and arrival, and also date to see the list of drivers who offers trips along your route, and to choose suitable.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../images/search.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h2 class="featurette-heading" style="color: #fb005b; text-align: center">Second step</h2>
            <p class="lead step-text">Ask the driver the questions interesting you and find out trip details. If this option suits you, reserve the place.</p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="../../images/chat.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color: #fb005b; text-align: center">Last step</h2>
            <p class="lead step-text">Arrive on time on the planned meeting place! Don't forget to take with yourself cash to pay the driver the coordinated sum during a trip.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../images/trophy.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <p class="why-us">Contact us</p>

        <form id="form" class="topBefore">

            <input id="name" type="text" placeholder="NAME">
            <input id="email" type="email" placeholder="E-MAIL">
            <textarea id="message" placeholder="MESSAGE"></textarea>
            <input id="submit" type="submit" value="Send">
        </form>
    </div>

    <hr class="footer-divider">

    <footer class="footer">
        <span >Who with me? &copy; 2016</span>
        <span style="float: right;">Made by Kirill Malyhin</span>
    </footer>
</div>