.main-row {
    padding: 5px;
    margin: -50px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    color: white;
}

.container {
    max-width: 500px;
    height: 100%;
    margin-top: 200px;
    text-align: center;
}

.form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.col-form-label {
    text-align: left;
}

.login-heading {
    margin: 20px 0;
}

.login-btn {
    background-color: #1161ee;
    margin-top: 20px;
    border: none;
    color: white;
}

.login-btn:hover {
    background-color: #0e45ab;
}

.login-rm {
    margin-right: 7px;
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}

.ng-invalid:not(form)  {
    border-left: 5px solid rgb(150, 30, 40) !important;
}

[disabled] {
    cursor: pointer;
}