.form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.col-form-label {
    text-align: left;
}

.login-heading {
    margin: 20px 0;
}

.login-btn {
    background-color: #3c2a2a;
    margin-top: 20px;
    border: none;
    color: white;
}

.login-btn:hover {
    background-color: #745959;
}

.login-rm {
    margin-right: 7px;
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}

.ng-invalid:not(form)  {
    border-left: 5px solid rgb(150, 30, 40) !important;
}

[disabled] {
    cursor: pointer;
}

a:hover {
    color: #e1ddd1 !important;
    cursor: pointer !important;
}
