.register {
    width: 100%;
    min-height: 100%;
    color: black;
    margin-bottom: -30px;
    text-align: center;
    background: url("../../../images/start-page.jpg") no-repeat center;
}

.main-row {
    padding: 5px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.container {
    max-width: 500px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.col-form-label {
    text-align: left;
}

.login-heading {
    margin: 20px 0;
}

.login-btn {
    background-color: #3c2a2a;
    margin-top: 20px;
    border: none;
    color: white;
}

.login-btn:hover {
    background-color: #745959;
}

.login-rm {
    margin-right: 7px;
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}

.ng-invalid:not(form)  {
    border-left: 5px solid rgb(150, 30, 40) !important;
}

[disabled] {
    cursor: pointer;
}

a:hover {
    color: #e1ddd1 !important;
    cursor: pointer !important;
}
