<div class="register">
    <div class="container">
        <div class="row main-row">
            <h2>{{ 'loginTitle' | translate }}</h2>
            <hr>
            <div class="form-group row">
                <label for="login" class="col-xs-4 col-form-label pointer">{{ 'username' | translate }}</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="username" name="username" type="text" id="login" class="form-control"
                           placeholder="{{ 'usernamePlaceholder' | translate }}" required>
                    <span *ngIf="!username && showErrorUsername" class="alert-invalid">
                    {{ 'emptyUsername' | translate }}
                </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-xs-4 col-form-label pointer">{{ 'password' | translate }}</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control"
                           placeholder="{{ 'passwordPlaceholder' | translate }}" required>
                    <span *ngIf="!password && showErrorPassword" class="alert-invalid">
                    {{ 'emptyPassword' | translate }}
                </span>
                </div>
            </div>
            <label>Don't have account yet?
                <a class="text-color pointer" (click)="register()" style="text-decoration: underline">{{ 'registration' | translate }}</a>
            </label>
            <span *ngIf="showErrorCredentials" class="alert-invalid" style="text-align: center">{{ 'incorrectCredentials' | translate }}</span>

            <button (click)="login()" type="button" class="btn-block btn-lg login-btn main-light-background-color">{{ 'login' | translate }}</button>
        </div>
    </div>
</div>