<div class="home">
    <div class="progress-bar-align" *ngIf="value !== 100">
        <label>{{'searchWaitMessage' | translate}}</label>
        <p-progressBar [value]="value"></p-progressBar>
    </div>

    <div class="col-md-2" style="text-align: center;" *ngIf="value === 100">
        <div class="form-group" style="margin-bottom: -10px">
            <label class="col-form-label filter-label" style="font-size: 20px;">{{'sortingTitle' | translate}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label" style="display: block;">{{ 'destinationDate' | translate }}</label>{{date | date}}
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-form-label pointer filter-label">{{ 'destinationTime' | translate }}</label>-->
            <!--<p-slider [(ngModel)]="rangeTime" [style]="" [range]="true" [min]=minTime [max]="maxTime" style="padding-top:15px;"></p-slider>-->
            <!--{{'sliderFrom' | translate}} {{rangeTime[0]}} {{'sliderTo' | translate}} {{rangeTime[1]}}-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-form-label pointer filter-label">{{ 'destinationPrice' | translate }}</label>-->
            <!--<p-slider [(ngModel)]="rangePrice" [style]="" [range]="true" [min]="minPrice" [max]="maxPrice"  style="padding-top:15px;"></p-slider>-->
            <!--{{'sliderFrom' | translate}} {{rangePrice[0]}} {{'sliderTo' | translate}} {{rangePrice[1]}}-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'carType' | translate }}</label>
            <div class="ui-g" style=" text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Standard" label="{{ 'standard' | translate }}" [(ngModel)]="car_type"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Premium" label="{{ 'premium' | translate }}" [(ngModel)]="car_type"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Luxury" label="{{ 'luxury' | translate }}" [(ngModel)]="car_type"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="NoMatterCarType" label="{{ 'allChoose' | translate }}" [(ngModel)]="car_type"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'experience' | translate }}</label>
            <div class="ui-g" style=" text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Junior" label="{{ 'junior' | translate }}" [(ngModel)]="drive_level"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Middle" label="{{ 'senior' | translate }}" [(ngModel)]="drive_level"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Expert" label="{{ 'expert' | translate }}" [(ngModel)]="drive_level"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="NoMatterExperience" label="{{ 'allChoose' | translate }}" [(ngModel)]="drive_level"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn-find" (click)="sort()">{{ 'searchResult' | translate }}</button>
        </div>
    </div>
    <div class="col-md-10" *ngIf="value === 100">
        <p-dataList [value]="resultTrips" [paginator]="isPaginator" [rows]="5">
            <p-header>
                {{'listOfTrips' | translate}} ({{resultTrips.length}}) {{'tableTitleFrom' | translate}} {{countryFrom}} {{'tableTitleTo' | translate}} {{countryTo}}
                <!--<span style="float: right">-->
                    <!--<input class="form-control" placeholder="{{'destinationFrom' | translate}}" value="{{countryFrom}}">-->
                    <!--<button class="btn btn-sm btn-info" (click)="reverseDestination()"><i class="fa fa-exchange" aria-hidden="true"></i></button>-->
                    <!--<input class="form-control" placeholder="{{'destinationTo' | translate}}" value="{{countryTo}}">-->
                <!--</span>-->
            </p-header>
            <template let-trip pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:0 20px 20px 20px;border-bottom:1px solid #D5D5D5;text-align: left">
                    <div class="ui-grid-row">
                        <div class="driver-photo">
                            <img src="../../../images/users/{{trip.user.gender}}.png" alt="Generic placeholder image">
                        </div>
                        <div class="ui-grid-col-4" style="padding-top: 50px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">{{'username' | translate}}: </div>
                                <div class="ui-grid-col-8">{{trip.user.name}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">{{'mail' | translate}}: </div>
                                <div class="ui-grid-col-8">{{trip.user.email}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">{{'phone' | translate}}: </div>
                                <div class="ui-grid-col-8">{{trip.user.phone}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">{{'age' | translate}}: </div>
                                <div class="ui-grid-col-8">{{trip.user.age}}</div>
                            </div>
                        </div>
                        <div class="ui-grid-col-8">
                            <span>
                                <button class="btn btn-sm btn-info reserve-btn" style="float: right;" (click)="openReserve(trip)">{{'reserveTripButton' | translate}}</button>
                            </span>
                            <span>
                                <button class="btn btn-sm btn-info reserve-btn" style="float: right;" (click)="openUpdate(trip)">{{'updateTripButton' | translate}}</button>
                            </span>
                            <span>
                                <button class="btn btn-sm btn-info reserve-btn" style="float: right" (click)="openDelete(trip)">{{'deleteTripButton' | translate}}</button>
                            </span>
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'destinationFrom' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.from}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'destinationTo' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.to}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'destinationDate' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.date}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'destinationPrice' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.price}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'carType' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.car_type}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'experience' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.drive_level}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'destinationSeatNumber' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.number_of_seats}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">{{'bookedNumber' | translate}}: </div>
                                    <div class="ui-grid-col-8">{{trip.reserved_seats}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </p-dataList>
        <div *ngIf="resultTrips.length === 0" style="margin-top: 200px; font-size: 40px; font-weight: bold">
            <i class="fa fa-meh-o" aria-hidden="true"></i> {{'emptySearchResult' | translate}}
            <div class="lead">{{'emptySearchResultLead' | translate}}</div>
        </div>
    </div>
</div>

<p-dialog header="{{'reserveTripTitle' | translate}}" modal="modal" width="400" responsive="true" [(visible)]="displayReserve">
    <div class="form-group row">
        <label for="seatNumber" class="col-xs-5 col-form-label pointer" style="padding-top: 0; padding-bottom: 0;">{{ 'seatNumber' | translate }}</label>
        <div class="col-sm-7">
            <input [(ngModel)]="seatNumber" name="seatNumber" type="number" id="seatNumber" class="form-control" style="max-width: 60px;" required>
        </div>
        <div class="col-sm-12" >
            <span *ngIf="!seatNumber && showErrorSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'emptySeatNumber' | translate }}</span>
            <span *ngIf="showErrorMinSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMinSeatNumber' | translate }}</span>
            <span *ngIf="showErrorMaxSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMaxSeatNumber' | translate }} {{maxNumberOfSeats - reserved_seats_count}}</span>
        </div>
    </div>

    <button (click)="reserve()" type="button" class="btn-block btn-lg reserve-btn main-light-background-color">{{ 'reserveTripButton' | translate}}</button>
</p-dialog>

<p-dialog header="{{'updateTripTitle' | translate}}" modal="modal" width="400" responsive="true" [(visible)]="displayUpdate">
    <div class="form-group row">
        <label for="seatNumberUpdate" class="col-xs-5 col-form-label pointer" style="padding-top: 0; padding-bottom: 0;">{{ 'seatNumber' | translate }}</label>
        <div class="col-sm-7">
            <input [(ngModel)]="seatNumber" name="seatNumber" type="number" id="seatNumberUpdate" class="form-control" style="max-width: 60px;" required>
        </div>
        <div class="col-sm-12" >
            <span *ngIf="!seatNumber && showErrorSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'emptySeatNumber' | translate }}</span>
            <span *ngIf="showErrorMinSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMinSeatNumber' | translate }}</span>
            <span *ngIf="showErrorMaxSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMaxSeatNumber' | translate }} {{maxNumberOfSeats - reserved_seats_count}}</span>
        </div>
    </div>

    <button (click)="update()" type="button" class="btn-block btn-lg reserve-btn main-light-background-color">{{ 'reserveTripButton' | translate}}</button>
</p-dialog>

<p-dialog header="{{'deleteTripTitle' | translate}}" modal="modal" width="400" responsive="true" [(visible)]="displayDelete">
    <div class="form-group row">
        <label for="seatNumberDelete" class="col-xs-5 col-form-label pointer" style="padding-top: 0; padding-bottom: 0;">{{ 'seatNumber' | translate }}</label>
        <div class="col-sm-7">
            <input [(ngModel)]="seatNumber" name="seatNumber" type="number" id="seatNumberDelete" class="form-control" style="max-width: 60px;" required>
        </div>
        <div class="col-sm-12" >
            <span *ngIf="!seatNumber && showErrorSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'emptySeatNumber' | translate }}</span>
            <span *ngIf="showErrorMinSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMinSeatNumber' | translate }}</span>
            <span *ngIf="showErrorMaxSeatNumber" class="alert-invalid" style="text-align: center;">{{ 'errorMaxSeatNumber' | translate }} {{maxNumberOfSeats - reserved_seats_count}}</span>
        </div>
    </div>

    <button (click)="delete()" type="button" class="btn-block btn-lg reserve-btn main-light-background-color">{{ 'reserveTripButton' | translate}}</button>
</p-dialog>