.home{
    width: 100%;
    min-height: 100%;
    color: black;
    margin-bottom: -30px;
    text-align: center;
    margin-top: -53px;
    padding-top: 53px;
}

.form-group {
    display: block;
    float: none;
    text-align: center;
}

.filter-label {
    text-decoration: underline;
    text-align: center;
    float: none !important;
}

.col-md-2 {
    width: 18%;
    background-color: rgba(148, 148, 148, 0.07);
    box-shadow: inset 0 1px 0 rgba(84, 84, 84, 0.51), 0 1px 5px rgba(8, 8, 8, 0.38);
}

.col-md-10 {
    padding-right: 0;
    padding-left: 0;
    width: 82%;
}

.btn-find {
    background-color: #3c2a2a;
    color: white;
    max-width: 200px;
    padding-bottom: 20px;
    width: 100%;
    height: 35px;
    outline: medium;
    border-radius: 5px;
    font-weight: normal;
    border: 1px solid rgba(248, 249, 248, 0.55);
}

.ui-g-12 {
    padding: .2em;
}

.btn-find:hover {
    background-color: #745959;
}

.btn-find:focus {
    outline: none;
}

.progress-bar-align {
    text-align: center;
    margin-top: 17%;
    margin-left: 30%;
    margin-right: 30%;
}

.form-control {
    display: inline-block;
    width: auto;
    padding: 3px 0 3px 0;
}

.btn {
    vertical-align: top;
}

.driver-photo {
    padding: 35px 30px 20px 20px;
    display: table;
}

.reserve-btn {
    background-color: rgb(150, 30, 40);
    margin-top: 20px;
    border: none;
    color: white;
}

.reserve-btn:hover {
    background-color: rgb(99, 23, 25);
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}