<div class="home">
    <div class="col-md-2" style="text-align: center;">
        <div class="form-group" style="margin-bottom: -10px">
            <label class="col-form-label filter-label">{{'sortingTitle' | translate}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label" style="display: block;">{{ 'destinationDate' | translate }}</label>
            <p-calendar [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'destinationTime' | translate }}</label>
            <p-slider [(ngModel)]="rangeTime" [style]="" [range]="true" style="padding-top:15px;"></p-slider>
            {{rangeTime}}
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'destinationPrice' | translate }}</label>
            <p-slider [(ngModel)]="rangePrice" [style]="" [range]="true" style="padding-top:15px;"></p-slider>
            {{rangePrice}}
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'carType' | translate }}</label>
            <div class="ui-g" style="margin-bottom:10px; text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Junior" label="Junior" [(ngModel)]="Junior"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Senior" label="Senior" [(ngModel)]="Senior"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="God" label="God" [(ngModel)]="God"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'experience' | translate }}</label>
            <div class="ui-g" style="margin-bottom:10px; text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Standard" label="Standard" [(ngModel)]="Standard"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Premium" label="Premium" [(ngModel)]="Premium"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Luxury" label="Luxury" [(ngModel)]="Luxury"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn-find" (click)="sort()">{{ 'searchResult' | translate }}</button>
        </div>
    </div>
    <div class="col-md-10">
        <p-dataList [value]="users" [paginator]="true" [rows]="5" [style]="{'height': '100%'}">
            <p-header>
                {{'listOfTrips' | translate}} ({{numberOfResultTrips}}) {{'tableTitleFrom' | translate}} {{trip.from}} {{'tableTitleTo' | translate}} {{trip.to}}
                <span style="float: right">
                    <input class="destinationReverseInput" placeholder="{{'destinationFrom' | translate}}" value="{{tripFrom}}">
                    <button class="btn btn-sm btn-info" (click)="reverseDestination()"><-></button>
                    <input class="destinationReverseInput" placeholder="{{'destinationTo' | translate}}" value="{{tripTo}}">
                </span>
            </p-header>
            <template let-user pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;text-align: left">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3" style="text-align:center">
                            <img src="{{user.photo}}" (click)="selectUser(user)" style="cursor:pointer;">
                        </div>
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationFrom' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.from}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationTo' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.to}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationDate' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.date}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationTime' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.time}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'carType' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{user.carType}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationPrice' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.price}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationSeatNumber' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{trip.seatsNumber}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </p-dataList>

        <p-dialog header="{{'driverDetails' | translate}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedUser" style="font-size:16px;text-align:right;padding:20px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" style="text-align:center">
                        <img src="{{selectedUser.photo}}">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 driver-info-left">{{'username' | translate}}: </div>
                    <div class="ui-grid-col-10">{{selectedUser.username}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 driver-info-left">{{'mail' | translate}}: </div>
                    <div class="ui-grid-col-10">{{selectedUser.mail}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 driver-info-left">{{'phone' | translate}}: </div>
                    <div class="ui-grid-col-10">{{selectedUser.phone}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 driver-info-left">{{'carType' | translate}}: </div>
                    <div class="ui-grid-col-10">{{selectedUser.carType}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 driver-info-left">{{'experience' | translate}}: </div>
                    <div class="ui-grid-col-10">{{selectedUser.experience}}</div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>