<div class="home">
    <div class="progress-bar-align" *ngIf="value !== 100">
        <label>{{'searchWaitMessage' | translate}}</label>
        <p-progressBar [value]="value"></p-progressBar>
    </div>

    <div class="col-md-2" style="text-align: center;" *ngIf="value === 100">
        <div class="form-group" style="margin-bottom: -10px">
            <label class="col-form-label filter-label" style="font-size: 20px;">{{'sortingTitle' | translate}}</label>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label" style="display: block;">{{ 'destinationDate' | translate }}</label>{{date | date}}
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-form-label pointer filter-label">{{ 'destinationTime' | translate }}</label>-->
            <!--<p-slider [(ngModel)]="rangeTime" [style]="" [range]="true" [min]=minTime [max]="maxTime" style="padding-top:15px;"></p-slider>-->
            <!--{{'sliderFrom' | translate}} {{rangeTime[0]}} {{'sliderTo' | translate}} {{rangeTime[1]}}-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'destinationPrice' | translate }}</label>
            <p-slider [(ngModel)]="rangePrice" [style]="" [range]="true" [min]=minPrice [max]="maxPrice"  style="padding-top:15px;"></p-slider>
            {{'sliderFrom' | translate}} {{rangePrice[0]}} {{'sliderTo' | translate}} {{rangePrice[1]}}
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'carType' | translate }}</label>
            <div class="ui-g" style=" text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Standard" label="{{ 'standard' | translate }}" [(ngModel)]="carType"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Premium" label="{{ 'premium' | translate }}" [(ngModel)]="carType"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="Luxury" label="{{ 'luxury' | translate }}" [(ngModel)]="carType"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupCarType" value="NoMatterCarType" label="{{ 'allChoose' | translate }}" [(ngModel)]="carType"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label pointer filter-label">{{ 'experience' | translate }}</label>
            <div class="ui-g" style=" text-align: left">
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Junior" label="{{ 'junior' | translate }}" [(ngModel)]="experience"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Middle" label="{{ 'senior' | translate }}" [(ngModel)]="experience"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="Expert" label="{{ 'expert' | translate }}" [(ngModel)]="experience"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="groupExperience" value="NoMatterExperience" label="{{ 'allChoose' | translate }}" [(ngModel)]="experience"></p-radioButton></div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn-find" (click)="sort()">{{ 'searchResult' | translate }}</button>
        </div>
    </div>
    <div class="col-md-10" *ngIf="value === 100">
        <p-dataList *ngIf="sortedTrips.length !== 0" [value]="users" [paginator]="true" [rows]="5" [style]="{'height': '100%'}">
            <p-header>
                {{'listOfTrips' | translate}} ({{numberOfResultTrips}}) {{'tableTitleFrom' | translate}} {{tripFrom}} {{'tableTitleTo' | translate}} {{tripTo}}
                <span style="float: right">
                    <input class="form-control" placeholder="{{'destinationFrom' | translate}}" value="{{tripFrom}}">
                    <button class="btn btn-sm btn-info" (click)="reverseDestination()"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                    <input class="form-control" placeholder="{{'destinationTo' | translate}}" value="{{tripTo}}">
                </span>
            </p-header>
            <template let-user pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;text-align: left">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3" style="text-align:center">
                            <img src="{{user.photo}}" (click)="selectUser(user)" style="cursor:pointer;">
                        </div>
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationFrom' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{sortedTrips[0].from}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationTo' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{sortedTrips[0].to}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationDate' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{sortedTrips[0].date.toLocaleString()}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'carType' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{user.carType}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationPrice' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{sortedTrips[0].price}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">{{'destinationSeatNumber' | translate}}: </div>
                                    <div class="ui-grid-col-2">{{sortedTrips[0].seatsNumber}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </p-dataList>
        <div *ngIf="sortedTrips.length === 0 || numberOfResultTrips === 0" style="margin-top: 300px; font-size: 40px; font-weight: bold">
            <i class="fa fa-meh-o" aria-hidden="true"></i> {{'emptySearchResult' | translate}}
            <div class="lead">{{'emptySearchResultLead' | translate}}</div>
        </div>

        <p-dialog header="{{'driverDetails' | translate}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedUser" style="font-size:16px;text-align:right;padding-left:20px; padding-right: 20px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" style="text-align:center; padding-bottom: 10px">
                        <img src="{{selectedUser.photo}}">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="driver-info-left">{{'username' | translate}}: </div>
                    <div>{{selectedUser.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="driver-info-left">{{'mail' | translate}}: </div>
                    <div>{{selectedUser.mail}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="driver-info-left">{{'phone' | translate}}: </div>
                    <div>{{selectedUser.phone}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="driver-info-left">{{'carType' | translate}}: </div>
                    <div>{{selectedUser.carType}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="driver-info-left">{{'experience' | translate}}: </div>
                    <div>{{selectedUser.experience}}</div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>