.background-image{
    background: url("../../../images/start-page.jpg") no-repeat center;
    width: 100%;
    min-height: 100%;
    color: white;
    margin-bottom: -30px;
    text-align: center;
}

.profile-title {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.add-trip {
    background-color: #3c2a2a;
    margin-top: 20px;
    border: none;
    color: white;
}

.add-trip:hover {
    background-color: #745959;
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}

.ng-invalid:not(form)  {
    border-left: 5px solid rgb(150, 30, 40) !important;
}

[disabled] {
    cursor: pointer;
}
