<p-dialog header="{{'editProfileTitle' | translate}}" modal="modal" width="590" responsive="true" [(visible)]="display">
    <!--<div class="form-group row">-->
        <!--<label for="age" class="col-xs-4 col-form-label pointer">{{ 'photo' | translate }}</label>-->
        <!--<div class="col-sm-8">-->
            <!--<form action="http://localhost:4000/users/12" method="POST">-->
                <!--<input id="uploadPhoto" type="file">-->
                <!--<input type="submit" value="Submit">-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group row">
        <label for="age" class="col-xs-4 col-form-label pointer">{{ 'age' | translate }}</label>
        <div class="col-sm-8" style="max-height: 70px !important;">
            <input [(ngModel)]="age" name="age" type="number" id="age"
                   class="form-control"
                   placeholder="{{ 'agePlaceholder' | translate }}" required>
            <span *ngIf="!age && showErrorAge" class="alert-invalid">{{ 'emptyAge' | translate }}</span>
        </div>
    </div>

    <div class="form-group row">
        <label for="mail" class="col-xs-4 col-form-label pointer">{{ 'mail' | translate }}</label>
        <div class="col-sm-8">
            <input [(ngModel)]="mail" name="mail" type="email" id="mail"
                   class="form-control"
                   placeholder="{{ 'mailPlaceholder' | translate }}" required>
            <span *ngIf="!mail && showErrorMail" class="alert-invalid">{{ 'emptyMail' | translate }}</span>
        </div>
    </div>

    <div class="form-group row">
        <label for="phone" class="col-xs-4 col-form-label pointer">{{ 'phone' | translate }}</label>
        <div class="col-sm-8">
            <input [(ngModel)]="phone" name="phone" type="number" id="phone"
                   class="form-control"
                   placeholder="{{ 'phonePlaceholder' | translate }}" required>
            <span *ngIf="!phone && showErrorPhone" class="alert-invalid">{{ 'emptyPhone' | translate }}</span>
        </div>
    </div>

    <span *ngIf="showErrorRegistration" class="alert-invalid" style="text-align: center">{{showErrorRegistration}}</span>

    <button (click)="updateProfile()" type="button"
            class="btn-block btn-lg update-btn main-light-background-color">{{ 'editProfileButton' | translate }}
    </button>
</p-dialog>
<p-confirmDialog width="425"></p-confirmDialog>
<div class="background-image">
    <div class="container">
            <p class="profile-title">{{ 'profile' | translate }}
                <i class="fa fa-trash-o icon-delete" aria-hidden="true" (click)="deleteProfile()"></i>
            </p>
        <div class="col-md-6">
            <div class="profile">
                <i class="fa fa-pencil-square-o fa-2x icon-edit" aria-hidden="true" (click)="openEditProfile()"></i>
                <div class="profile-photo">
                    <img src="../../../images/users/{{photo}}.png" alt="Generic placeholder image">
                </div>

                <label class="profile-info"><span class="profile-info-title">{{ 'username' | translate }}:</span><span> {{userData.name}}</span></label>
                <label class="profile-info"><span class="profile-info-title">{{ 'mail' | translate }}:</span><span> {{userData.email}}</span></label>
                <label class="profile-info"><span class="profile-info-title">{{ 'phone' | translate }}:</span><span> {{userData.phone}}</span></label>
                <label class="profile-info"><span class="profile-info-title">{{ 'age' | translate }}:</span><span> {{userData.age}}</span></label>
                </div>
        </div>
        <div class="col-md-6">
            <p-accordion>
                <p-accordionTab header="{{ 'addTrip' | translate }}" [selected]="true">
                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label pointer">{{ 'destinationFrom' | translate }}</label>
                        <div>
                            <p-autoComplete [(ngModel)]="countryFrom" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" styleClass="wid100"
                                            placeholder="{{ 'destinationFrom' | translate }}" [minLength]="1">
                            </p-autoComplete>
                            <span *ngIf="!countryFrom && showErrorCountryFrom" class="alert-invalid">{{ 'emptyDestinationFrom' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label pointer">{{ 'destinationTo' | translate }}</label>
                            <div>
                            <p-autoComplete [(ngModel)]="countryTo" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" styleClass="wid100"
                                            placeholder="{{ 'destinationTo' | translate }}" [minLength]="1">
                            </p-autoComplete>
                            <span *ngIf="!countryTo && showErrorCountryTo" class="alert-invalid">{{ 'emptyDestinationTo' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4 col-form-label pointer">{{ 'destinationDate' | translate }}</label>
                        <div>
                            <p-calendar [(ngModel)]="dateTo" [minDate]="minDate" [readonlyInput]="true" dateFormat="dd.mm.yy"></p-calendar>
                            <span *ngIf="!dateTo && showErrorDate" class="alert-invalid">{{ 'emptyDestinationDate' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="price" class="col-xs-4 col-form-label pointer">{{ 'destinationPrice' | translate }}</label>
                        <div>
                            <input [(ngModel)]="price" name="price" type="number" id="price" class="form-control mobile-input-view" placeholder="{{ 'price' | translate }}" required>
                            <span *ngIf="!price && showErrorPrice" class="alert-invalid">{{ 'emptyPrice' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="seatNumber" class="col-xs-4 col-form-label pointer">{{ 'destinationSeatNumber' | translate }}</label>
                        <div>
                            <input [(ngModel)]="seatNumber" name="seatNumber" type="number" id="seatNumber" class="form-control mobile-input-view" placeholder="{{ 'seatNumber' | translate }}" required>
                            <span *ngIf="!seatNumber && showErrorSeatNumber" class="alert-invalid">{{ 'emptySeatNumber' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="carType" class="col-xs-4 col-form-label pointer">{{'carType' | translate}}</label>
                        <div>
                            <select [(ngModel)]="carType" class="form-control" id="carType" name="carType" required autofocus>
                                <option *ngFor="let car of cars">{{car.type}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="experience" class="col-xs-4 col-form-label pointer">{{ 'experience' | translate }}</label>
                        <div>
                            <select [(ngModel)]="experience" class="form-control" id="experience" name="experience" required autofocus>
                                <option *ngFor="let level of levels">{{level.type}}</option>
                            </select>
                        </div>
                    </div>

                    <button (click)="addTrip()" type="button"
                            class="btn-block btn-lg add-trip main-light-background-color">{{ 'addTrip' | translate }}
                    </button>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" style="padding-top: 50px; padding-bottom: 100px">
                <p-dataList  [value]="addedTrips" [paginator]="true" [rows]="3">
                    <p-header>
                        {{'listOfAddedTrips' | translate}} ({{addedTrips.length}})
                    </p-header>
                    <template let-trip pTemplate="item">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;text-align: left">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationFrom' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.from}}  <i class="fa fa-times icon-delete-trip" aria-hidden="true" (click)="deleteTrip(trip)" style="float: right"></i></div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationTo' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.to}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationDate' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.date | date}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationPrice' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.price}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'carType' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.car_type}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'experience' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.drive_level}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationSeatNumber' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.number_of_seats}}</div>
                                        </div>
                                        <div class="ui-grid-row" *ngIf="trip.reserved_seats">
                                            <div class="ui-grid-col-6">{{'bookedNumber' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.reserved_seats}} <i class="fa fa-1x fa-eye" aria-hidden="true" style="float: right; padding-top: 4px;cursor: pointer" (click)="showBookedUsers(trip)"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-dataList>
            </div>
            <div class="col-md-6" style="padding-top: 50px; padding-bottom: 100px">
                <p-dataList  [value]="bookedTrips" [paginator]="true" [rows]="3">
                    <p-header>
                        {{'listOfBookedTrips' | translate}} ({{bookedTrips.length}})
                    </p-header>
                    <template let-trip pTemplate="item">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;text-align: left">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationFrom' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.from}} <i class="fa fa-times icon-delete-trip" aria-hidden="true" (click)="unReserveTrip(trip)" style="float: right"></i></div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationTo' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.to}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationDate' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.date | date}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationPrice' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.price}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'carType' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.car_type}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'destinationSeatNumber' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.seats_count}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">{{'experience' | translate}}: </div>
                                            <div class="ui-grid-col-6">{{trip.trip.drive_level}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </p-dataList>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{'fellowTraveller' | translate}}" [(visible)]="openBookedUsers" modal="modal" width="500" responsive="true">
    <p-dataList [value]="bookedUsers" [paginator]="isPaginator" [rows]="5">
        <template let-trip pTemplate="item">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;text-align: left">
                <div class="ui-grid-row">
                    <div style="padding-right: 20px">
                        <img src="../../../images/users/{{trip.user.gender}}.png" alt="Generic placeholder image">
                    </div>
                    <div class="ui-grid-col-6" style="padding-top: 15px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">{{'username' | translate}}: </div>
                            <div class="ui-grid-col-6">{{trip.user.name}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">{{'mail' | translate}}: </div>
                            <div class="ui-grid-col-6">{{trip.user.email}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">{{'phone' | translate}}: </div>
                            <div class="ui-grid-col-6">{{trip.user.phone}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">{{'age' | translate}}: </div>
                            <div class="ui-grid-col-6">{{trip.user.age}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </p-dataList>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="openBookedUsers=false" label="{{'close' | translate}}"></button>
        </div>
    </p-footer>
</p-dialog>

