.background-image{
    background: url("../../../images/start/start-page.jpg") no-repeat center;
    width: 100%;
    min-height: 100%;
    color: white;
    margin-top: -53px;
    margin-bottom: -30px;
    text-align: center;
}

.profile-title {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.profile-photo {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    display: table-cell;
    width: 10%;
}

.add-trip {
    background-color: #3c2a2a;
    margin-top: 20px;
    border: none;
    color: white;
}

.add-trip:hover {
    background-color: #745959;
}

.alert-invalid {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: small;
    color: #e11e19;
}

.ng-invalid:not(form)  {
    border-left: 5px solid rgb(150, 30, 40) !important;
}

[disabled] {
    cursor: pointer;
}

.profile {
    margin-bottom: 20px;
    padding-bottom: 50px;
    background-color: rgba(12, 6, 6, 0.6);
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.profile-info {
    font-size: 20px;
    display:table;
}

.profile-info-title {
    padding-left: 50px;
    font-weight: bold;
}

.form-group {
    display: -webkit-box;
}

.col-form-label {
    display: flex;
    padding-left: 25px;
}
