.find-trip {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.find-image{
    background: url("../../../images/start/start-page.jpg") no-repeat center;
    width: 100%;
    min-height: 100%;
    color: white;
    margin-bottom: -30px;
    text-align: center;
}

.container {
    padding-top: 100px;
}

.btn-find {
    background-color: #db5a00;
    margin-left: 35px;
    color: white;
    width: 200px;
    height: 35px;
    outline: medium;
    border-radius: 5px;
    font-weight: normal;
    border: 1px solid rgba(248, 249, 248, 0.55);
}

.btn-find:hover {
    background-color: #d03b00;
}

.btn-find:focus {
    outline: none;
}

input {
    width:200px;
    color:#fff;
    display:inline-block;
    border: 1px solid rgba(248, 249, 248, 0.55);
    padding:15px 20px;
    border-radius:25px;
    background:transparent;
    margin-right: 30px;
}

.date-picker {
    width:200px;
    color:#fff;
    display:inline-block;
    /*border: 1px solid rgba(248, 249, 248, 0.55);*/
    padding:15px 20px;
    border-radius:25px;
    background:transparent;
    margin-right: 30px;
}
