<div class="find-image">
    <div class="container">
        <p class="find-trip">{{ 'searchTitle' | translate }}</p>
        <div class="row">
            <span>
                <p-autoComplete [(ngModel)]="countryFrom" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" styleClass="wid100"
                                placeholder="{{ 'destinationFrom' | translate }}" [minLength]="1"></p-autoComplete>
            </span>
            <span>
                <p-autoComplete [(ngModel)]="countryTo" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" styleClass="wid100"
                                placeholder="{{ 'destinationTo' | translate }}" [minLength]="1"></p-autoComplete>
            </span>
            <span>
                <p-calendar [(ngModel)]="dateTo" [minDate]="minDate" [monthNavigator]="true" dateFormat="dd.mm.yy"></p-calendar>
            </span>
            <button class="btn-find" (click)="findTrip()">{{ 'searchResult' | translate }}</button>
        </div>
    </div>
</div>

